[run]
branch = True
source =
    src/main/python/*
omit =
    src/test/python/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    src/test/python/*