[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = ">=5.12.1"
matplotlib = "*"
ffmpeg-python = "*"
soundfile = "*"
resampy = "*"
pyqtgraph = "*"
numpy = "*"
scipy = "*"
qtpy = "*"
qtawesome = ">=0.5.7"
sortedcontainers = "*"
pillow = "*"
requests = "*"
semver = "*"
dulwich = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
distro = "*"

[requires]
python_version = "3.7"
