[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
matplotlib = "*"
ffmpeg-python = "*"
soundfile = "*"
resampy = "*"
pyqtgraph = "*"
gitpython = "*"
pyinstaller = "*"
numpy = "*"
scipy = "*"
qtpy = "*"
qtawesome = "*"
pytest = "*"
pytest-cov = "*"
sortedcontainers = "*"
pillow = "*"
requests = "*"
semver = "*"

[dev-packages]

[requires]
python_version = "3.7"
