[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
qdarkstyle ="*"
matplotlib = "*"
ffmpeg-python = "*"
soundfile = "*"
resampy = "*"
pyqtgraph = "*"
numpy = "*"
scipy = "*"
qtpy = "*"
qtawesome = "*"
sortedcontainers = "*"
pillow = "*"
requests = "*"
semver = "*"
dulwich = "*"
markdown = "*"
plumbum = "*"
graphviz = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
distro = "*"
atomicwrites = "*"

[requires]
python_version = "3.9"
